ExtenderScripts/
FairyPatch/
Lists/
modHelperUI/
ReferenceScripts/
*.pak
*.zip
ItemIcon_Instructions.txt
Known Boosts.txt
Original Template Breakdown.txt
README_INSTRUCTIONS.txt
ThematicItemsREADME.txt